:root{
    --blue-color:#6E95B8;
    --background-main-color:#F4FAFD;
    --background-button-color: linear-gradient(#9FCBF4, #EAD8FC);
    --white-color: white;
    --black-color: black;
    --lightgray:#cbc4c4;
}

