
/*Categories*/

.card-item-product{
  background-color: var(--background-button-color);
  border: 1px solid var(--black-color);
  border-radius: 0;
  /* margin: 10px; */
  /* width: 50px; */
}


.img-product{
 width: 400px ;
  height: 400px;
  background-color: var(--background-button-color);
}


/* star */
.rate {
  float: left;
  height: 46px;
  position: relative;
  bottom:20px;

}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #FFC600;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #FFC600; 
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #FFC600; 
}


.name-title-categories{
  color: var(--black-color);
  font-size: 50px;
}

.button-footer {
  text-align: center;
}

.btn, .btn-light, .btn-light-large {
  margin-right: 60px;
}


.btn-light-large:last-child {
  margin-right: 0;
}