:root{
  --blue-color:#6E95B8;
  --background-main-color:#F4FAFD;
  --background-button-color: linear-gradient(#9FCBF4, #EAD8FC);
  --white-color: white;
  --black-color: black;
  --lightgray:#cbc4c4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: EB Garamond;
  }
  
  /* ---------------- header ------------------ */
  
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 2px 2px 2px 1px #E0E0E0;
}

.logo-container {
  margin-right: 25px;
}

.main-menu {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.main-menu a {
  margin-right: 25px;
  color: black;
  font-size: 1rem;
}

.main-menu a:hover {
  color: red;
}

.burger-icon.active span {
  background-color: transparent;
}

.search-container {
  margin-right: 180px;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 1;
}

.search-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 300px;
  padding-left: 30px;
}

.search-container .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

}

.search-container i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #555;
}

.search-container input:hover+i {
  color: #333;
}

.search-container input:focus {
  outline: none;
  border: 1px solid #555;
}

.search-container input:focus+i {
  color: #333;
}

.icon-nav {
  display: flex;
  align-items: center;
}

.icon-nav .item {
  margin-left: 10px;
}

.head nav.main-menu a {
  text-decoration: none;
}

.icon-nav .item1 i {
  margin-right: 30px;
  color: gray;
}

.icon-nav .item i {
  margin-right: 30px;
  color: gray;
}

@media screen and (min-width: 769px) {
  .burger-menu {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .head {
    flex-wrap: wrap;
  }

  .head>a {
    font-size: 1.2rem;
  }

  .burger-menu {
    position: absolute;
    display: block;
    margin-right: -150px;
    width: 30px;
    height: 30px;
    right: 0%;
    top: 20%;

  }

  .main-menu {
    width: 100%;
    display: none;
    margin-top: 20px;
    margin-left: 15px;
  }

  .main-menu a {
    display: block;
    margin-left: 0;
    padding: 15px 0;
    text-decoration: none;
  }

  .main-menu a:hover {
    color: red;
  }

  .main-menu a:hover {
    text-decoration: line-through;
    text-decoration-color: red;
  }

  .icon-nav {
    display: none;
    width: 30px;
    height: 30px;
  }

  .active .icon-nav,
  .active .main-menu {
    display: block;
  }

  .active .icon-nav {
    display: flex;
    padding: 15px;
    margin-left: 0;
  }

  .icon-nav .item1 i,
  .icon-nav .item i {
    font-size: 24px;
  }

  .search-container {
    left: 100px;
  }

  .search-container input {
    width: 100%;
    max-width: 200px;
  }

  .search-container .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

}

/* ===================BANNER==================== */
#banner {
    display: flex;
    height: 100%;
    flex: 1;
}

.left-section {
    background-image: linear-gradient(#9FCBF4, #EAD8FC);
    width: 100%;
    flex: 1;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 24px;
}
#banner .left-section h1 {
  font-size: 4em;
  margin-top: 0%;
}
.right-section {
  width: 100%;
  flex: 1;
}

.right-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*================= BODY =======================*/
.body-homepage{
  background-color: var(--background-main-color);
}

.card-body-padding{
  background-color: var(--background-main-color);
  border: none ;
}
.card-title-name-body{
  color: var(--blue-color);
}

.texture-spray{
  border: 1px solid var(--blue-color);
  background-image: var(--background-button-color);
  border-radius: 50%;
}

.btn-light{
  border: 1px solid var(--lightgray) ;
  border-radius: 15px;
  color:var(--blue-color);
  background-color: var(--white-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-light:hover{
  background-image: var(--background-button-color);
  color:var(--black-color);
  border: 1px solid rgb(202, 196, 196);
}

@keyframes text-animation { 
  0% { color: var(--blue-color); } 
  50% { color: var(--black-color); } 
  100% { color: var(--blue-color)}
   }
.text-animation{ 
    font-size:25px; 
    -webkit-animation: text-animation  1000ms infinite;
    animation-duration: text-animation  1000ms infinite; 
    animation-name: text-animation  700ms infinite; 
}   


@media screen and (min-width: 768px) and (max-width: 15536px) {
  .card-body-padding{
    margin-left: 180px;
    padding-left: 0px;
    background-color: var(--background-main-color);
    border: none ;
  }

  .card-body-margin{
    margin-top: 60px;
    margin-left: 200px;
  
  }

  .card-item-lastest{
    max-width: 450px;max-height:250px;
    margin-left: 180px;
    margin-bottom: 450px;
  }

  .title-body {
    padding-left: 150px;
    padding-top: 20px;
    color:#6E95B8;
}

.card-body-trial{
  padding:30px 0px 0px 250px;
}

.card-title-large{
  width:500px; font-size:25px;
}

.Milaganics-shiny{
  background-image: var(--background-button-color);
}

.Mliglanics-herbal{
  background-image: var(--background-button-color);
  width: 300px;
  height:250px;
  padding:10px 10px 0px 10px;
}
.card-item-trial{
  width: 1058px;max-height:550px;
  margin-left: 188px;
  padding:20px 0px 20px 30px;
}

}

