
#body-modal input {
    height: 40px;
  }
  
.table-header{
  background-color: rgb(27, 141, 185);
}
#order-page table {
  border-radius: 50px;
}
@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-image {
  animation: fadeInDown 1s ease-out; /* Chỉnh thời gian và hiệu ứng theo ý muốn */
}
